.profile {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px; 
}

.profile img {
    max-width: 100%;
    height: auto;
    border-radius: 5%;
    margin-top: 110px; 
    transition: transform 0.3s ease;
    margin-right: 10px;
}

.about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px; 
}

.profile img:hover {
    transform: scale(1.1);
}

.profile h5 {
    margin: 0;
    color: #333;
    font-size: 24px;
    transition: color 0.3s ease;
}

.profile:hover h5 {
    color: #ff4081;
}

.about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
