
.about-me {
    flex: 1;
    padding-right: 20px;
}

.profile {
    flex: 1;
    text-align: center;
}

.profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 20px;
}

.profile h2 {
    margin-bottom: 10px;
    color: #333;
}

.profile p {
    margin: 0;
    color: #666;
}

